#youtrack_issue_form .save-as-default {
    position: absolute;
    right: 0;
    top: 4px;
    opacity: 0.7;
}

#youtrack_issue_form .save-as-default:hover {
    opacity: 0.5;
}

#youtrack_issue_form [class*="span"] {
    margin-left: 0;
}

#youtrack_issue_form .form-group .controls {
    position: relative;
    padding-right: 40px;
}
